#box {
    /* width: 500px;
    height: 500px;
    border: 2px solid black;
    margin-left: 25px;
    position: absolute;
    top: 15%;
    left: 25%; */
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 60%;
    /* left: 15% */
}

#leftBox {
    width: 20%;
    height: 60%;
    background: #EDEDDB;
    /* left: 15%; */
    position: relative;
}

#container {
    display: -webkit-inline-box;
    width: 100%;
    border: 1px solid black;
    position: relative;
    top: 25px;
    /* padding: 25px;
    margin: 10px; */
}

.jxgbox {
    border-width: 0px !important;
}
